# Cleaning Data In python
## Commom Data Problems

In [3]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import missingno as msno
import fuzzywuzzy
import recordlinkage

# importing dataset
ride_sharing = pd.read_csv('ride_sharing_new.csv', index_col = 'Unnamed: 0')

In [4]:
ride_sharing.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

In [5]:
print(ride_sharing.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25760 entries, 0 to 25759
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         25760 non-null  object
 1   station_A_id     25760 non-null  int64
 2   station_A_name   25760 non-null  object
 3   station_B_id     25760 non-null  int64
 4   station_B_name   25760 non-null  object
 5   bike_id          25760 non-null  int64
 6   user_type        25760 non-null  int64
 7   user_birth_year  25760 non-null  int64
 8   user_gender      25760 non-null  object
dtypes: int64(5), object(4)
memory usage: 2.0+ MB
None

In [6]:
# Print summary statistics of user_type column

print(ride_sharing['user_type'].describe())

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

Here we can see that the user_type column data is integer type. But it should be categorycal data. We can further observe the data by describe()

In [7]:
ride_sharing.describe()

       station_A_id  station_B_id       bike_id     user_type  user_birth_year
count  25760.000000  25760.000000  25760.000000  25760.000000     25760.000000
mean      31.023602     89.558579   4107.621467      2.008385      1983.054969
std       26.409263    105.144103   1576.315767      0.704541        10.010992
min        3.000000      3.000000     11.000000      1.000000      1901.000000
25%       15.000000     21.000000   3106.000000      2.000000      1978.000000
50%       21.000000     58.000000   4821.000000      2.000000      1985.000000
75%       67.000000     93.000000   5257.000000      3.000000      1990.000000
max       81.000000    383.000000   6638.000000      3.000000      2001.000000

In [8]:
# convert the user_type from integer to category

ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

In [9]:
# Write as assert statement confirming the change

assert ride_sharing['user_type_cat'].dtype == 'category'

print(ride_sharing['user_type_cat'].describe())

count     25760
unique        3
top           2
freq      12972
Name: user_type_cat, dtype: int64

In [10]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

In [11]:
print(ride_sharing['duration'])

0        12 minutes
1        24 minutes
2         8 minutes
3         4 minutes
4        11 minutes
            ...
25755    11 minutes
25756    10 minutes
25757    14 minutes
25758    14 minutes
25759    29 minutes
Name: duration, Length: 25760, dtype: object

In [12]:
print(ride_sharing['duration_trim'])

0        12
1        24
2         8
3         4
4        11
        ...
25755    11
25756    10
25757    14
25758    14
25759    29
Name: duration_trim, Length: 25760, dtype: object

In [13]:
# convert duration into integer

ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

In [14]:
# Writing an assert statement to make sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

In [15]:
#printing formed columns and calculate average ride duration
print(ride_sharing[['duration', 'duration_trim', 'duration_time']])

         duration duration_trim  duration_time
0      12 minutes           12              12
1      24 minutes           24              24
2       8 minutes            8               8
3       4 minutes            4               4
4      11 minutes           11              11
...           ...           ...            ...
25755  11 minutes           11              11
25756  10 minutes           10              10
25757  14 minutes           14              14
25758  14 minutes           14              14
25759  29 minutes           29              29

[25760 rows x 3 columns]

In [16]:
print(ride_sharing['duration_time'].mean())

11.389052795031056

## Data range constraints
#### How to deal with out of range data?

- Dropping data
- Setting custom minimums and maximums 
- Treat as missing and impute
- Setting custom value depending on business assumptions

##### Tire Size Constraints

The tire_sizes column ideally has the categorical value. The values are 26,27, and 29. The company want restrict the tire_sizes column to  restrict the maximum size of tire is 27 for minimizing the maintenance cost.


Converting the tire_sizes to integer from category
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

Reconvert the tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

Print tire size descritpion
print(ride_sharing['tire_sizes'].describe())

In [20]:
Converting the tire_sizes to integer from category
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

Reconvert the tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

Print tire size descritpion
print(ride_sharing['tire_sizes'].describe())


ride_sharing.columns

Index(['duration', 'station_A_id', 'station_A_name', 'station_B_id',
       'station_B_name', 'bike_id', 'user_type', 'user_birth_year',
       'user_gender', 'user_type_cat', 'duration_trim', 'duration_time'],
      dtype='object')