# Cleaning Data In python
## Commom Data Problems

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import missingno as msno
import fuzzywuzzy
import recordlinkage

# importing dataset
ride_sharing = pd.read_csv('ride_sharing_new.csv', index_col = 'Unnamed: 0')

In [2]:
ride_sharing.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

In [3]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25760 entries, 0 to 25759
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         25760 non-null  object
 1   station_A_id     25760 non-null  int64
 2   station_A_name   25760 non-null  object
 3   station_B_id     25760 non-null  int64
 4   station_B_name   25760 non-null  object
 5   bike_id          25760 non-null  int64
 6   user_type        25760 non-null  int64
 7   user_birth_year  25760 non-null  int64
 8   user_gender      25760 non-null  object
dtypes: int64(5), object(4)
memory usage: 2.0+ MB

Here we can see that the user_type column data is integer type. But it should be categorycal data. We can further observe the data by describe()

In [4]:
ride_sharing.describe()

       station_A_id  station_B_id       bike_id     user_type  user_birth_year
count  25760.000000  25760.000000  25760.000000  25760.000000     25760.000000
mean      31.023602     89.558579   4107.621467      2.008385      1983.054969
std       26.409263    105.144103   1576.315767      0.704541        10.010992
min        3.000000      3.000000     11.000000      1.000000      1901.000000
25%       15.000000     21.000000   3106.000000      2.000000      1978.000000
50%       21.000000     58.000000   4821.000000      2.000000      1985.000000
75%       67.000000     93.000000   5257.000000      3.000000      1990.000000
max       81.000000    383.000000   6638.000000      3.000000      2001.000000